*{
    margin: 0;
    padding: 0;
}

.landing{
    height: 100vh;
    width: 100%;
    background-image: url("./Images/landing.png");
}

.introduction{
    position: absolute;
    transform: translate(100px, 150px);
}

h1{
    color: white;
    font-family: 'Bebas Neue';font-size: 100px;
}

p{
    color: white;
    font-family: 'ROBOTO';font-size: 22px;
    margin-top: 10px;
}

.button{
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'ROBOTO';font-size: 15px;
}   

.exersise{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-image: url("./Images/one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    width: 240px;
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #fff;

}

.card:hover{
    animation: dark 1s forwards;
}

@keyframes dark {
    0%{
        background-color: transparent;

    }
    100%{
        background-color: #fff;

    }
}

@keyframes text{
    0%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}

.card h1{
    font-family: 'Bebas Neue';
    font-size: 35px;
    margin-top: -40px;
    color: #fff;

}

.card:hover h1{ 
	animation: text 1s forwards;
}

.card:hover p{ 
	animation: text 1s forwards;
}

.card p{
    font-family: 'ROBOTO';font-size: 17px;
    margin-top: 20px;
    color: rgba(179, 179, 179, 0.87);
}


#sec h1{
    margin-top: -65px;
}

#third h1{
    margin-top: -55px;
}

.overview{
    height: 100vh;
    width: 100%;
    
}

.bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overview-text{
    height: 450px;
    width: 400px;
    background-color: #fff;
    position: relative;
    transform: translate(10vh,-85vh);
}

.overview-text h1{
    width: 300px;
    font-family: 'Bebas Neue';font-size: 55px;
    color: #000;
    padding-top: 25px;
    margin-left: 50px;
}

.overview-text p{
    width: 300px;
    font-family: 'ROBOTO';font-size: 17px;
    color: #000;
    margin-left: 50px;
    margin-top: 20px;
}

.Workouts{
    height: 100vh;
    width: 100%;

}

.Nav-container{
    height: 95px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 200px;  

}

.Nav{
    width: 60%;
    margin-right: 70px;
}

.Nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.Nav a{
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 25px;
}

.Nav a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.Nav a:hover::after{
    width: 100%;
}

.card a{
    color: #000;
    margin-top: 30px;
    font-weight: bolder;
    font-family: 'Bebas Neue';
    font-size: 25px; 
}


.card:hover a{
    background-color: #000;
    transition: 1s;
    animation: text-opposite 1s forwards;
}


@keyframes text-opposite{
    0%{
        color: #000;
    }
    100%{
        color: #fff;
    }
}

.nav-logo img{
    width: 150px;
    height: 95px;
}